@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
::-webkit-input-placeholder {
  color: #c6c6c6;
  font-weight: 100; }

::-moz-placeholder {
  color: #c6c6c6; }

:-ms-input-placeholder {
  color: #c6c6c6; }

:-moz-placeholder {
  color: #c6c6c6; }

* {
  margin: 0;
  padding: 0;
  background: scroll transparent none 0 0 repeat;
  border: 0 none #000;
  outline: 0 none #000;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  text-align: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  line-height: inherit;
  vertical-align: top;
  cursor: inherit;
  -webkit-tap-highlight-color: transparent;
  position: relative; }
  *, *:before, *:after {
    box-sizing: border-box; }

.clear {
  clear: both;
  float: none; }

body {
  background-color: #f9f9f9;
  color: #000;
  font-size: 16px;
  font-family: Arial,sans-serif;
  text-align: left;
  line-height: 1.4;
  z-index: 0;
  cursor: default; }

h1.page_title {
  text-align: center;
  font-size: 30px;
  line-height: 100px;
  color: #7DA1D1; }

.widget_wrap {
  margin: auto;
  max-width: 600px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #efefef; }

input, textarea {
  cursor: text;
  width: 100%;
  border: 1px solid #c6c6c6;
  font-size: 12px;
  line-height: 32px;
  font-weight: 100;
  padding: 0 10px;
  background: #fff;
  margin-bottom: 10px; }
  input.invalid, textarea.invalid {
    box-shadow: inset 0 0 3px red; }
  input.valid, textarea.valid {
    box-shadow: inset 0 0 3px green; }

form.add-comment {
  background: #efefef;
  padding: 20px; }
  form.add-comment textarea {
    height: 65px;
    resize: none; }
  form.add-comment button.submit {
    font-size: 12px;
    background: #43a6e1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0 20px;
    line-height: 32px;
    color: #fff;
    float: right;
    text-transform: uppercase;
    cursor: pointer; }
    form.add-comment button.submit:disabled {
      background: #E2E2E2;
      color: #BBB; }
      form.add-comment button.submit:disabled:hover {
        text-shadow: 0px 0px 5px #fff;
        box-shadow: inset 0px 0px 3px #fff;
        -moz-box-shadow: inset 0px 0px 3px #fff;
        -webkit-box-shadow: inset 0px 0px 3px #fff; }
    form.add-comment button.submit:hover {
      text-shadow: 0px 0px 5px #000;
      box-shadow: inset 0px 0px 3px #000;
      -moz-box-shadow: inset 0px 0px 3px #000;
      -webkit-box-shadow: inset 0px 0px 3px #000; }

.filter_wrap span {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #afafaf;
  z-index: +1; }

.filter_wrap input {
  border-color: #cacaca;
  padding-left: 32px; }

.comments_wrap {
  padding: 20px;
  transition: all 500ms ease-in; }

.comment-block {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  color: #797979;
  padding: 10px 0; }
  .comment-block:only-child {
    padding: 10px 0 0 0; }
  .no_list .comment-block:only-child {
    padding: 0; }
  .comment-block:last-child {
    padding-bottom: 0; }
  .comment-block .comment {
    padding-left: 10px;
    line-height: 20px; }
    .comment-block .comment .author {
      color: #505050;
      font-weight: 600; }
    .comment-block .comment .content {
      line-height: normal; }

.results-enter {
  opacity: 0;
  max-height: 0; }

.results-enter.results-enter-active {
  opacity: 1;
  max-height: 100px;
  transition: all 500ms ease-in; }

.results-leave {
  opacity: 1;
  max-height: 100px; }

.results-leave.results-leave-active {
  opacity: 0;
  max-height: 0;
  transition: all 300ms ease-in; }

.comment-avatar {
  flex-shrink: 0; }
  .comment-avatar img {
    height: 50px;
    width: 50px;
    background: #fff url("../img/loader.gif") center center no-repeat;
    border-radius: 5px; }
  .no_comments .comment-avatar img {
    background: transparent; }

.ace-logo {
  text-align: center;
  margin-top: 20px; }
  .ace-logo a {
    display: inline-block;
    cursor: pointer; }
